<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <todo-input (create)="createTodo($event)"></todo-input>
  </header>
  <section [ngClass]="{ hidden: todoList.length === 0 }" class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox"
      [checked]="allCompleted"
      (change)="setAllCompletedStates(!allCompleted)"
    >
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <todo-item *ngFor="let t of filteredTodoList; trackBy: todoId"
        [todo]="t"
        (remove)="removeTodo(t)"
      ></todo-item>
    </ul>
  </section>
  <footer [ngClass]="{ hidden: todoList.length === 0 }" class="footer">
    <span class="todo-count"><strong>{{ activeCount }}</strong> {{ activeCount === 1 ? 'item' : 'items' }} left</span>
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button [ngClass]="{ hidden: !hasCompleted }" (click)="removeCompleted()" class="clear-completed">Clear completed</button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://lean-stack.de">Micha Alt</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
